<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CAR_INFO -->
<mapper namespace="ABCDEFG.carInfo">
    <!-- 结果映射 -->
    <resultMap id="carInfoMap" type="CarInfoEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, CARINFO_ID, PLATE, DETECTION_TIME, DETECTION_MANUFACTURERS, DETECTION_INSTALLATIONAREA, DETECTION_INSTALLPOINT, DETECTION_VERSIONNUMBER, 
        DETECTION_DEVICE, DETECTION_INSTALLSERIAL, LANE, VEHICLETYPE, PALTETYPE, PALTECOLOR, VEHICLECOLOR, VEHICLESIGN, 
        VEHICLESPEED, VEHICLELENGTH, TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertCarInfos" parameterType="list">
        INSERT INTO CAR_INFO (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.carinfoId},
                #{item.plate},
                #{item.detectionTime},
                #{item.detectionManufacturers},
                #{item.detectionInstallationarea},
                #{item.detectionInstallpoint},
                #{item.detectionVersionnumber},
                #{item.detectionDevice},
                #{item.detectionInstallserial},
                #{item.lane},
                #{item.vehicletype},
                #{item.paltetype},
                #{item.paltecolor},
                #{item.vehiclecolor},
                #{item.vehiclesign},
                #{item.vehiclespeed},
                #{item.vehiclelength},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>