<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CONGESTION_EVENT -->
<mapper namespace="ABCDEFG.congestionEvent">
    <!-- 结果映射 -->
    <resultMap id="congestionEventMap" type="CongestionEventEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, SENDER_MANUFACTURERS, SENDER_INSTALLATIONAREA, SENDER_INSTALLPOINT, SENDER_VERSIONNUMBER, SENDER_DEVICE, SENDER_INSTALLSERIAL, INFO_ID, 
        SEQUENCE, TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertCongestionEvents" parameterType="list">
        INSERT INTO CONGESTION_EVENT (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.senderManufacturers},
                #{item.senderInstallationarea},
                #{item.senderInstallpoint},
                #{item.senderVersionnumber},
                #{item.senderDevice},
                #{item.senderInstallserial},
                #{item.infoId},
                #{item.sequence},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>