<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ENROLL_THINGS -->
<mapper namespace="ABCDEFG.enrollThings">
    <!-- 结果映射 -->
    <resultMap id="enrollThingsMap" type="EnrollThingsEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, ENROLL_ID, installSerial, MANUFACTURERS, installationArea, installPoint, versionNumber, DEVICE, 
        PRODUCT, MODEL, TYPE, SN, ONLINE, IPV4, METHODS, EVENTS, 
        TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertEnrollThingss" parameterType="list">
        INSERT INTO ENROLL_THINGS (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.enrollId},
                #{item.installSerial},
                #{item.manufacturers},
                #{item.installationArea},
                #{item.installPoint},
                #{item.versionNumber},
                #{item.device},
                #{item.product},
                #{item.model},
                #{item.type},
                #{item.sn},
                #{item.online},
                #{item.ipv4},
                #{item.methods},
                #{item.events},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>