<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- PALTE_TYPE -->
<mapper namespace="ABCDEFG.palteType">
    <!-- 结果映射 -->
    <resultMap id="palteTypeMap" type="PalteTypeEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, TYPE
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertPalteTypes" parameterType="list">
        INSERT INTO PALTE_TYPE (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.type}
            )
        </foreach>
    </insert>
    
</mapper>