<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SIGNAL_INFO -->
<mapper namespace="ABCDEFG.signalInfo">
    <!-- 结果映射 -->
    <resultMap id="signalInfoMap" type="SignalInfoEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, INFO_ID, DETECTION_TIME, DETECTION_MANUFACTURERS, DETECTION_INSTALLATIONAREA, DETECTION_INSTALLPOINT, DETECTION_VERSIONNUMBER, DETECTION_DEVICE, 
        DETECTION_INSTALLSERIAL, ROAD_NAME, southToNorthStraight, southToNorthLeft, northToSouthStraight, northToSouthRight, westToEastLeft, westToEastRight, 
        southNorthFoot, westEastFoot, TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertSignalInfos" parameterType="list">
        INSERT INTO SIGNAL_INFO (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.infoId},
                #{item.detectionTime},
                #{item.detectionManufacturers},
                #{item.detectionInstallationarea},
                #{item.detectionInstallpoint},
                #{item.detectionVersionnumber},
                #{item.detectionDevice},
                #{item.detectionInstallserial},
                #{item.roadName},
                #{item.southToNorthStraight},
                #{item.southToNorthLeft},
                #{item.northToSouthStraight},
                #{item.northToSouthRight},
                #{item.westToEastLeft},
                #{item.westToEastRight},
                #{item.southNorthFoot},
                #{item.westEastFoot},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>