<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- VIDEO_INFO -->
<mapper namespace="ABCDEFG.videoInfo">
    <!-- 结果映射 -->
    <resultMap id="videoInfoMap" type="VideoInfoEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, INFO_ID, MSG_TYPE, DEVNO, DETECTION_TIME, CHANNELINFO_ID, TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertVideoInfos" parameterType="list">
        INSERT INTO VIDEO_INFO (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.infoId},
                #{item.msgType},
                #{item.devno},
                #{item.detectionTime},
                #{item.channelinfoId},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>