<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- VIDEO_OTHERVEHICLE -->
<mapper namespace="ABCDEFG.videoOthervehicle">
    <!-- 结果映射 -->
    <resultMap id="videoOthervehicleMap" type="VideoOthervehicleEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, OTHERVEHICLE_ID, TARGET_ID, TYPE, POSX, POSY, GPS_POSLAT, GPS_POSLONG, 
        PTC_HEADING, TIME
    </sql>
    
    <!-- 批量插入数据 -->
    <insert id="insertVideoOthervehicles" parameterType="list">
        INSERT INTO VIDEO_OTHERVEHICLE (<include refid="allColumns" />)
        VALUES (
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id},
                #{item.othervehicleId},
                #{item.targetId},
                #{item.type},
                #{item.posx},
                #{item.posy},
                #{item.gpsPoslat},
                #{item.gpsPoslong},
                #{item.ptcHeading},
                #{item.time}
            )
        </foreach>
    </insert>
    
</mapper>